@using ProjectTracking.DataAccess.Entites.Classes.DbClasses.UserClasses;
@model IEnumerable<User>
<table class="display" style="min-width: 845px" id="userDataTable">
    <thead>
        <tr>
            <th>İşlem</th>
            <th>@Html.DisplayNameFor(t => t.Name)</th>
            <th>@Html.DisplayNameFor(t => t.Surname)</th>
            <th>@Html.DisplayNameFor(t => t.Email)</th>
            <th>@Html.DisplayNameFor(t => t.Password)</th>
            <th>Durum</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="mb-2" style="font-size: 20px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="@("#userUpdateModal-" + item.Id)" data-bs-url="@Url.Action($"Update/{item.Id}")"><i class="fa-solid fa-user-pen mx-4"></i></a>
                    @await Html.PartialAsync("LayoutPartials/UserPartials/_UserUpdatePartial",item)
                    <a onclick="Delete(@item.Id)"><i class="fa-solid fa-user-xmark mx-4" style="font-size: 20px; cursor: pointer;"></i></a>
                    
                </td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td>


                    @switch (item.Active)
                    {
                        case true:
                            <a onclick="ChangeStatusWithPartialView('@item.Id')" data-toggle="tooltip" title="Pasif Yap"><span class="badge badge-success light border-0">Aktif</span> </a>
                            break;
                        default:
                            <a onclick="ChangeStatusWithPartialView('@item.Id')" data-toggle="tooltip" title="Aktif Yap"><span class="badge badge-danger light border-0">Pasif</span> </a>
                            break;
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
