@using ProjectTracking.DataAccess.Entites.Classes.DbClasses.ProjectClasses;
@using ProjectTracking.DataAccess.Entites.Enums;
@model IEnumerable<Project>
<table id="projectDataTable" class="display" style="min-width: 845px">
    <thead>
        <tr>
            <th>İşlem</th>
            <th>@Html.DisplayNameFor(t => t.Id)</th>
            <th>@Html.DisplayNameFor(t => t.ProjectName)</th>
            <th>@Html.DisplayNameFor(t => t.ProjectDescription)</th>
            <th>@Html.DisplayNameFor(t => t.ProjectNotes)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a onclick="Delete(@item.Id)"><i class="fa-solid fa-trash mx-4" style="font-size: 20px; cursor: pointer;"></i></a>
                </td>
                <td>@item.Id</td>
                <td>@item.ProjectName</td>
                <td>@item.ProjectDescription</td>
                <td>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target=@("#add-project-note-" + item.Id)><i class="fa-solid fa-pencil"></i></button>

                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target=@("#view-project-note-" + item.Id)><i class="fa-solid fa-message"></i></button>
                    @*Note ekleme modal*@
                    <div class="modal fade" id="add-project-note-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">@item.ProjectName için Not Ekle</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input type="hidden" id="ProjectId" value="@item.Id" />
                                        <div class="mb-3">
                                            <label class="col-form-label">Not Başlığı</label>
                                            <input type="text" class="form-control" id="noteTitle">
                                        </div>
                                        <div class="mb-3">
                                            <label class="col-form-label">Not Açıklaması</label>
                                            <textarea class="form-control" id="noteDesc"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="noteAddBtn">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Not Görüntüleme*@
                    <div class="modal fade" id="view-project-note-@item.ProjectNotes" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">@item.ProjectName Not Listesi</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col">
                                            <input type="hidden" id="@item.Id" />
                                            <table class="table table-hover" id="projectNotes">
                                                <thead>
                                                    <tr>
                                                        <th>Başlık</th>
                                                        <th>Açıklama</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="noteAddBtn">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
