@using ProjectTracking.DataAccess.Entites.Classes.DbClasses.ProjectClasses;
@using ProjectTracking.DataAccess.Entites.Enums;
@model IEnumerable<Project>
<table id="projectDataTable" class="display" style="min-width: 845px">
    <thead>
        <tr>
            <th>İşlem</th>
            <th>@Html.DisplayNameFor(t => t.Id)</th>
            <th>@Html.DisplayNameFor(t => t.ProjectName)</th>
            <th>@Html.DisplayNameFor(t => t.ProjectDescription)</th>
            <th>@Html.DisplayNameFor(t => t.ProjectNotes)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a onclick="Delete(@item.Id)"><i class="fa-solid fa-trash mx-4" style="font-size: 20px; cursor: pointer;"></i></a>
                </td>
                <td>@item.Id</td>
                <td>@item.ProjectName</td>
                <td>@item.ProjectDescription</td>
                <td>
                    <a onclick="NoteAdd(@item.Id)"><i class="fa-solid fa-plus mx-4" style="font-size: 20px; cursor: pointer;"></i></a>
                    <partial name="LayoutPartials/ProjectNotePartials/_ProjectNoteAddPartial" />
                    <a onclick="View(@item.Id)"><i class="fa-solid fa-message mx-4" style="font-size: 20px; cursor: pointer;"></i></a>
                    <partial name="LayoutPartials/ProjectNotePartials/_ProjectNoteListPartial" />

                </td>
            </tr>
        }
    </tbody>
</table>